<!DOCTYPE html>
<html>

<head>
  <title>Heart Disease Prediction Admin Panel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .float {
      float: right;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-sm bg-danger navbar-dark p-3">
    <a class="navbar-brand fs-1" href="#">Prediction of Heart Disease Using Machine Learning Algorithms </a>
    <ul class="navbar-nav float d-flex offset-md-5  col-4">
      <a class="nav-link dropdown-toggle " href="#" id="navbardrop" data-toggle="dropdown">
        Dashboard
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item " href="/profile">Profile</a>
        <a class="dropdown-item " href="/history">History</a>

      </div>
      </li>
      <li class="nav-item col-2">
        <a class="nav-link" href="/pradiction">Model Testing</a>
        <a class="nav-link" href="/contact">Logout</a>
      </li>

    </ul>
  </nav>

  <span><img src="static/images/heart2.jpeg" style="width: 200vh;height: 100vh;"></span>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>