<!DOCTYPE html>
<html>

<head>
    <title>Heart Disease Prediction Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .float {
            float: right;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-danger navbar-dark p-3">
        <a class="navbar-brand fs-1" href="#">Prediction of Heart Disease Using Machine Learning Algorithms </a>
        <ul class="navbar-nav float d-flex">
            <li class="nav-item dropdown offset-md-11 col-3">
                <a class="nav-link dropdown-toggle " href="#" id="navbardrop" data-toggle="dropdown">
                    Dashboard
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item " href="/graph">Performance Graph</a>
                    <a class="dropdown-item " href="/all_users">Registered Users</a>
                </div>
            </li>
            <li class="nav-item col-2">
                <a class="nav-link" href="/load">Data Access</a>
            </li>
            <li class="nav-item col-2">
                <a class="nav-link" href="/model">Data Conditioning</a>
                <a class="nav-link" href="/contact">Logout</a>
            </li>
        </ul>
    </nav>
    <form action=/load method="post" enctype="multipart/form-data">



        <div class=" d-flex flex-column justify-content-center align-items-center" style="padding-top: 231px;">


            <label style="color:White;background-color: rgba(255, 0, 0, 0.774);">
                <h1>CHOOSE CSV FILES</h1>
            </label><br>
            <input style="color:White;width:220px;background-color: rgba(0, 0, 0, 0.774);" type="file" name="file"
                placeholder="SELECT CSV FILES" required /><br><br>

            <input type="submit" value="submit" class="btn btn-info"><br><br><br>

            <h1 style="color: rgb(0, 0, 0);">{{msg}}</h1>


        </div>





    </form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>